# =========================
# Environment variables
# =========================
.env

# =========================
# Virtual environment (Windows + Linux)
# =========================
venv/
.venv/
lib/
include/
share/
pyvenv.cfg
bin/
etc/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor configs
# =========================
.vscode/
.idea/

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.temp